# Ignore Python virtual environment
.venv/
env/
venv/

# Ignore audio/video files
jsons/
audios/
Videos/
*.mp3
*.mp4
# Ignore system / editor files
.vscode/
.DS_Store
Thumbs.db
# Ignore .joblib file 
*.joblib