# Ignore Python virtual environment
.venv/
env/
venv/

# Ignore audio/video files/.joblib files 
jsons/
audios/
Videos/
*.mp3
*.mp4
*.joblib
# Ignore system / editor files
.vscode/
.DS_Store
Thumbs.db

