# Ignore Python virtual environment
.venv/
env/
venv/

# Ignore audio/video files/.joblib files 
jsons/
audios/
Videos/
*.mp3

*.mp4
*.joblib
# Ignore system / editor files
.vscode/
.DS_Store
Thumbs.db

config.py
prompt.txt
response.text
 
__pycache__/config.cpython-313.pyc
app.db
prompt.txt
__pycache__/process_incoming.cpython-313.pyc
